html {
    display: flex;
    justify-content: center;
    background: #101010;
}

body {
    font-family: sans-serif;
    min-width: min(100vw, 60em);
    max-width: 60em;
    background: #202020;
    padding: 16px;
    margin: 0;
    min-height: 100vh;
    color: white;
}

a {
    color: #80b0ff;
}
a:visited {
    color: #b0b0ff;
}

ul > li::marker {
    content: "→ ";
}

code {
    display: inline-block;
    padding: 2px 0;
    background: #00000020;
}

#output {
    padding: 8px;
    border-radius: 4px;
    background: #000000b0;
    color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#output.-no-output {
    color: #bbbbbb;
}

.proc-state {
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    color: #000000;
}

.proc-state[data-state="loading"] {
    background-color: #ffffb0;
}

.proc-state[data-state="running"] {
    background-color: #80b0ff;
}

.proc-state[data-state="success"] {
    background-color: #b0ffb0;
}

.proc-state[data-state="failure"] {
    background-color: #ffb0b0;
}

* {
    box-sizing: border-box;
}