<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhyzAI Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='phyz.css') }}">
</head>
<body>
<h2>PhyzAI</h2>
<p>what's up?</p>
<ul>
    <li><a href="{{ url_for('enumerate_fs', path='') }}">Explore the local filesystem</a></li>
    <li><a href="{{ url_for('gitcmd', command='pull') }}">Synchronize changes (<code>git pull</code>)</a></li>
    <li><a href="{{ url_for('gitcmd', command='status') }}">Git status</a></li>
    <li><a href="{{ url_for('start_phyz') }}">Start PhyzAI</a></li>
</ul>
</body>
</html>